In [13]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (1.4.15)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# here we import pandas
import pandas as pd

In [22]:
#here we creating pandas dataframe and srtore into variable


excel_nifty=pd.read_excel('nifty 100.xlsx')

In [23]:
#here we check dataframe using head only 5 to check value correct or not
excel_nifty.head(5)

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Analysis
0,Abbott India,16076.05,-0.88,17081,16076.00,16084.85,1,3,16444.0,Analysis
1,ACC,2218.30,2.33,169416,2217.60,2218.30,1,10,2179.9,Analysis
2,Adani Enterpris,1711.70,1.52,1087308,1711.05,1711.95,92,43,1702.5,Analysis
3,Adani Green Ene,1933.95,1.24,167958,1932.65,1933.95,1,17,1945.0,Analysis
4,Adani Ports,720.00,1.54,2356022,719.80,720.00,12,91,713.0,Analysis

In [18]:
from sqlalchemy import create_engine

In [27]:
import sqlalchemy
database_username = 'prashant'
database_password = 'password'
database_ip       = 'localhost'
database_name     = 'python_mysql'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [28]:
excel_nifty.to_sql(con=database_connection, name='nifty midcap 50', if_exists='replace')

In [37]:
#export a midacap nifty 50

In [40]:
excel_nifty_midcap50=pd.read_excel('nifty 50 large cap.xlsx')

In [41]:
excel_nifty_midcap50.to_sql(con=database_connection, name='nifty_largecap_50', if_exists='replace')